<div class="container">
  <div class="row">
    <h1>New Article</h1><hr>

    <p><%= link_to 'Back', articles_path, class:"btn btn-info" %></p>

    <%= render 'form', article: @article %>
  </div>
</div>
