<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Hello, I'm Tu - Author of this page</h1>
      <hr>
      <section class="page-content">
        <p class="text-xs-center">
          <img src="https://dl.dropboxusercontent.com/u/6504039/Life/me-400x400.jpeg" title="Site-author">
        </p>
      </section>
    </div>
  </div>
</div>
