<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Welcome to my markdown blog</h1>
      <p>This blog is built with Rails 5 & Bootstrap 4 alpha</p>
      <p class="text-xs-center">
        <img src="http://guides.rubyonrails.org/images/getting_started/rails_welcome.png" title="Rails-welcome" class="img-fluid img-thumbnail">
      </p>
    </div>
  </div>
</div>
